body{
  background-color: black;
}
.middle{
  color: white;
  font-family: 'Secular One', sans-serif;
  align-content: center;
  text-align: center;
  font-size: 3rem;
}
.prediction-image{
  image-resolution: from-image;
  width: 80%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.footer{
  text-align: center; 
}

.copyrite{
  font-family: 'Montserrat', sans-serif;
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
